/* Extra small devices (phones, 600px and down)
   @media only screen and (max-width: 600px) {...}

   Small devices (portrait tablets and large phones, 600px and up)
   @media only screen and (min-width: 600px) {...}

   Medium devices (landscape tablets, 768px and up)
   @media only screen and (min-width: 768px) {...}

   Large devices (laptops/desktops, 992px and up)
   @media only screen and (min-width: 992px) {...}

   Extra large devices (large laptops and desktops, 1200px and up)
   @media only screen and (min-width: 1200px) {...} */

:root {
    --headerFontSize: 1.50rem;
    --button-background-color: #FF325A;
    --background-color: white;
    --box-background-color: #E7EEF1;
    --alt-background-color: #dedede;
    --highlighted-color: #59869d;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    min-font-size: 5px;
}

html {
    /*font-size: 25px;*/
}

body {
    border: 0;
    margin: 0;
}

/* Start of header style */

nav {
    min-height: 5vh;
    height: 100%;

}

.navigationLink{
    font-weight: bold;
    font-size: var(--headerFontSize);
    float: left;
}

#loginButton {
    color: white;
    background-color: var(--button-background-color);
    white-space: nowrap;
}

#logoutButton {
    color: white;
    background-color: var(--button-background-color);
    white-space: nowrap;
}

#navigationList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: right;
}

.navigationListItem {
    float: right;
    background-color: inherit;
    border-left: 3px solid black;
}

.navigationListItem .navigationLink {
    display: block;
    color: black;
    text-align: center;
    padding: 0 1rem;
    text-decoration: none;
    height: -webkit-fill-available;
}

.navigationListItem .navigationLink:hover {
    background-color: blueviolet;
}

.navigationListItem #loginButton:hover {
    background-color: blueviolet;
}

.navigationListItem #logoutButton:hover {
    background-color: blueviolet;
}

#header {
    min-height: var(--headerFontSize) + 1;
    width: 100vw;
    height: var(--headerFontSize) + 2;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 60% 40% ;
    position: sticky;
    top: 0;
}

#navbarLogo {
    height: 24px;
}

/* End of header style */

/* Start of project-overview style */

.overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projectItem {
    width: 13rem;
    height: 5rem;
    background-color: var(--highlighted-color);
    border-radius: 5%;
    margin: 0.5% 2%;
    overflow: hidden;
}

.projectItemText {
    margin: 0.25rem 0;
}

.button {
    color: white;
    background-color: var(--button-background-color);
    margin: 1rem 0;
    padding: 0.5em;
    text-decoration: none;
}

#progressbarBorder {
    width: 50%;
    height: 1rem;
    background-color: deeppink;
}

#progressbarProgress {
    height: -webkit-fill-available;
    min-width: 1%;
    background-color: blue;
}

#overviewLayout {
    margin: 1%;
    padding: 1%;
    background-color: inherit;
    display: flex;
    flex-direction: column;
}

#createProjectButton {
    height: 5rem;
    padding: 0 4rem;
}

#openProjectButton {
    background-color: inherit;
    border: inherit;
}

.descriptionBox {
    background-color: var(--box-background-color);
    border: 7px chocolate;
    padding: 1rem;
}

#assignmentDescriptionBox {
    background-color: var(--alt-background-color);
    border: none;
    padding: 0.5rem;
    margin: 1rem 0;
}

/* End of project-overview style */

/* Start of front-page style */

#frontPageLayout {
    margin: 1%;
    padding: 1%;
    background-color: brown;
}

#frontPageCenterpiece {
    margin: 2.5%;
    background-color: darkorange;
}

/* End of front-page style */