/* Extra small devices (phones, 600px and down)
   @media only screen and (max-width: 600px) {...}

   Small devices (portrait tablets and large phones, 600px and up)
   @media only screen and (min-width: 600px) {...}

   Medium devices (landscape tablets, 768px and up)
   @media only screen and (min-width: 768px) {...}

   Large devices (laptops/desktops, 992px and up)
   @media only screen and (min-width: 992px) {...}

   Extra large devices (large laptops and desktops, 1200px and up)
   @media only screen and (min-width: 1200px) {...} */

:root {
    --headerFontSize: 1.50rem;
    --button-background-color: #FF325A;
    --background-color: white;
    --box-background-color: #E7EEF1;
    --alt-background-color: #dedede;
    --highlighted-color: #59869d;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    min-font-size: 5px;
}

html {
    /*font-size: 25px;*/
}

body {
    border: 0;
    margin: 0;
}

/* Start of header style */

nav {
    min-height: 5vh;
    height: 100%;

}

.navigationLink{
    font-weight: bold;
    font-size: var(--headerFontSize);
    float: left;
}

#loginButton {
    color: white;
    background-color: var(--button-background-color);
    white-space: nowrap;
}

#logoutButton {
    color: white;
    background-color: var(--button-background-color);
    white-space: nowrap;
}

#navigationList {
    height: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

#navigationListLogo {
    background-color: inherit;
}

#navigationListStart {
    margin-left: auto;
}

.navigationListItem {
    background-color: inherit;
    border-left: 3px solid black;
}

.navigationListItem .navigationLink {
    display: block;
    color: black;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    height: -webkit-fill-available;
}

.navigationListItem .navigationLink:hover {
    background-color: #dcdde0;
}

.navigationListItem #loginButton:hover {
    background-color: blueviolet;
}

.navigationListItem #logoutButton:hover {
    background-color: blueviolet;
}

#header {
    min-height: var(--headerFontSize) + 1;
    width: 100vw;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: var(--box-background-color);
    position: sticky;
    top: 0;
}

#navbarLogo {
    height: 24px;
}

/* End of header style */

/* Start of project-overview style */

#memberText {
    margin: 2px;
}

#memberItem {
    background-color: var(--background-color);
    border-radius: 6px;
    text-wrap: nowrap;
    margin: 3px;
}

#memberList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#memberBox {
    width: 50%;
    border-right: solid var(--highlighted-color) 2px;
}

#progressInfoBox {
    width: 50%;
    border-left: solid var(--highlighted-color) 2px;
    padding: 6px;
}

#dateInfoBox {
    padding: 1px 0 6px 6px;
margin: 16px auto;
    background-color: var(--alt-background-color);
}
#additionalInfoBox {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.overview {
    background-color: var(--box-background-color);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.overviewItem {
    width: 13rem;
    height: 8rem;
    background-color: #AA5B6B;
    border-radius: 5%;
    margin: 0.5% 2%;
    overflow: hidden;
}

.overviewItemText {
    margin: 0.25rem 0;
}

.button {
    font-size: 1rem;
    border: 0;
    color: white;
    background-color: var(--button-background-color);
    margin: 1rem 0;
    padding: 0.5em;
    text-decoration: none;
    cursor: pointer;
}

.progressbarBorder {
    width: 50%;
    height: 1rem;
    background-color: deeppink;
    border-radius: 5px;
}

.progressbarProgress {
    height: -webkit-fill-available;
    min-width: 1%;
    background-color: blue;
    border-radius: 5px;
}

#overviewLayout, #overviewLayout2 {
    margin: 1%;
    padding: 1%;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#createProjectButton, #createTaskButton {
    height: 8rem;
    padding: 1rem 3.5rem;
}

#openProjectButton, #openTaskButton {
    width: 100%;
    height: 100%;
    background-color: inherit;
    border: inherit;
}

.descriptionBox {
    background-color: var(--box-background-color);
    border: 7px chocolate;
    padding: 1rem;
}

#assignmentDescriptionBox {
    background-color: var(--alt-background-color);
    border: none;
    padding: 0.5rem;
    margin: 1rem 0;
}

#overviewStyle, #overviewStyle2 {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 6px;
    background-color: var(--alt-background-color);
}

/* End of project-overview style */

/* Start of front-page style */

#frontPageLayout {
    margin: 1%;
    padding: 1%;
    background-color: brown;
}

#frontPageCenterpiece {
    margin: 2.5%;
    background-color: darkorange;
}

/* End of front-page style */