<div th:fragment="header" id="header">
    <img id="navbarLogo" th:src="@{images/Dept=ofb_Logo.png}" alt="Department for overly fancy buttons logo"/>
    <nav>
        <ul id="navigationList">
        <li class="navigationListItem"><a class="navigationLink" th:if="${#ctx.session.account}==null" href="/project//view-projects" title="Go to project overview">Projects</a></li>
        <li class="navigationListItem"><a class="navigationLink" th:if="${#ctx.session.canViewAccounts}!=true" href="/account/account-manager" title="Go to account manager">Accounts</a></li>
        <li class="navigationListItem"><a class="navigationLink" th:if="${#ctx.session.canViewRoles}!=true" href="/account/role-manager" title="Go to role manager">Roles</a></li>
            <li class="navigationListItem">
                <a class="navigationLink" id="loginButton" th:if="${#ctx.session.account}==null" href="/account/login" title="Sign into account">Sign in</a>
                <a class="navigationLink" id="logoutButton" th:if="${#ctx.session.account}!=null" href="/account/logout" title="Sign out of account">Sign out</a>
            </li>
        </ul>
    </nav>
</div>