<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Opret bruger</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h1 th:text="'Change password for '+ ${account.email}"></h1>

<form th:action="@{/account/change/password}" th:object="${account}" method="post">
    <div>
        <label for="password">Kodeord:</label>
        <input id="password" type="password" th:field="*{password}" required/>
    </div>

    <div>
        <input id="accountID" type="hidden" th:field="*{accountID}"/>
    </div>

    <button type="submit">Update</button>
</form>

<a th:href="@{/account/myAccount}">Back to account</a>
</body>
</html>
