<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Complete task</title>
    <link rel="styleSheet" th:href="@{/style.css}"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h1 th:text="'Færdiggør ' + ${task.name}"></h1>

<form action="#" th:action="@{/project/task/complete}" th:object="${task}" method="post">

    <div th:if="${task.isCompleted == false}">
        <label for="hoursSpentOnTask">Time spent on task (hours):</label>
        <input id="hoursSpentOnTask" type="number" th:field="*{hoursSpentOnTask}"/>
    </div>

    <a th:if="${task.isCompleted == true}">Reopening will delete the previously set spent amount of hours</a>

    <div>
        <input id="taskID" type="hidden" th:field="*{taskID}"/>
    </div>

    <button th:if="${task.isCompleted == false}" type="submit">Complete task</button>
    <button th:if="${task.isCompleted == true}" type="submit">Cancel completion of task</button>
</form>

<form method="post" th:action="@{/project/task/getID}" th:object="${task}">
    <button type="submit">Back</button>
    <input type="hidden" name="taskID" th:value="${task.taskID}"/>
    <input type="hidden" name="taskName" th:value="${task.name}">
</form>
</body>
</html>