<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Opret bruger</title>
    <link rel="styleSheet" th:href="@{/style.css}"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h1>Opret ny bruger</h1>

<form th:action="@{/account/create}" th:object="${account}" method="post">
    <div>
        <label for="nameAccount">Navn:</label>
        <input id="nameAccount" type="text" th:field="*{name}" required/>
    </div>

    <div>
        <label for="email">Email:</label>
        <input id="email" type="email" th:field="*{email}" required/>
    </div>

    <div>
        <label for="Fødselsdato">Fødselsdato:</label>
        <input id="Fødselsdato" type="date" th:field="*{birthday}"/>
    </div>

    <div>
        <label for="number">Phone number:</label>
        <input id="number" th:field="*{number}" required/>
    </div>


    <div>
        <label for="workHours">Arbejdstimer per uge:</label>
        <input id="workHours" type="number" th:field="*{weeklyHours}" required/>
    </div>

    <div>
        <label for="password">Kodeord:</label>
        <input id="password" type="password" th:field="*{password}" required/>
    </div>

    <div>
        <label for="roleID">Rolle:</label>
        <select id="roleID" th:field="*{roleID}" required>
            <option th:each="role : ${roles}"
                    th:value="${role.roleID}"
                    th:text="${role.name}">
            </option>
        </select>
    </div>

    <!--drop down with role menu-->

    <button type="submit">Opret bruger</button>
</form>

<br>
<a class="backButton" th:href="@{/account/list}">Tilbage til liste over brugere</a>
</body>
</html>
