<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8"/>
    <title>Opret opgave</title>
</head>
<body>
<h1 th:text="'Opret ny opgave for ' + ${taskName}"></h1>

<form th:action="@{/project/create/task}" th:object="${task}" method="post">
    <div>
        <label for="name">Navn:</label>
        <input id="name" type="text" th:field="*{name}" required/>
    </div>

    <div>
        <label for="description">Beskrivelse:</label>
        <textarea id="description" th:field="*{description}"></textarea>
    </div>

    <div>
        <label for="hourEstimate">Forventet antal timer:</label>
        <input id="hourEstimate" type="number" th:field="*{hourEstimate}"/>
    </div>

    <div>
        <label for="startDate">Startdato:</label>
        <input id="startDate" type="date" th:field="*{startDate}"/>
    </div>

    <div>
        <label for="deadline">Deadline:</label>
        <input id="deadline" type="date" th:field="*{deadLine}"/>
    </div>

    <div>
        <input id="projectIDForTask" type="hidden" th:field="*{projectID}" th:value="task.projectID"/>
    </div>

    <div>
        <input id="parentIDForTask" type="hidden" th:field="*{parentID}" th:value="task.parentID"/>
    </div>

    <button type="submit">Opret opgave</button>
</form>

<a th:href="@{/project/{projectName}(projectName=${projectName})}">Tilbage til projekt</a>
</body>
</html>
