<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Projekter</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h1>Projekter</h1>

<a th:if="${role.hasPermission(5)}" th:href="@{/project/create}">Opret nyt projekt</a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>Aktiv</th>
        <th>Startdato</th>
        <th>Deadline</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projects}">
        <td th:text="${project.projectID}"></td>
        <td th:text="${project.name}"></td>
        <td th:text="${project.description}"></td>
        <td th:text="${project.isActive}"></td>
        <td th:text="${#dates.format(project.startDate, 'dd-MM-yyyy')}"></td>
        <td th:text="${#dates.format(project.deadline, 'dd-MM-yyyy')}"></td>
        <td>
            <form method="post" th:action="@{/project/getID}" th:object="${project}">
                <button type="submit">Info</button>
                <input type="hidden" name="projectID" th:value="${project.projectID}"/>
                <input type="hidden" name="projectName" th:value="${project.name}">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
