<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Brugere</title>
    <link rel="styleSheet" th:href="@{/style.css}"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h1>Brugere</h1>

<a th:if="${role.hasPermission(8)}" th:href="@{/account/create}">Opret ny bruger</a>

<table>
    <thead>
    <tr>
        <th>Navn</th>
        <th>Email</th>
        <th>TelefonNummer</th>
        <th>Fødselsdato</th>
        <th>Rolle</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account : ${accounts}">
        <td th:text="${account.name}"></td>
        <td th:text="${account.email}"></td>
        <td th:text="${account.number}"></td>
        <td th:text="${#dates.format(account.birthday, 'dd-MM-yyyy')}"></td>
        <td th:text="${roleNames[account.roleID]}"></td>
        <td th:if="${role.hasPermission(8)}">
            <form th:action="@{/account/edit}" th:object="${account}" method="get">
                    <input type="hidden" name="accountID" th:value="${account.accountID}"/>
                <button type="submit">Edit</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
