<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Projekt</title>
    <link rel="styleSheet" th:href="@{/style.css}"/>
</head>
<body th:if="${role.hasPermission(1)}">
<div th:replace="~{fragments/header :: header}"></div>
<div id="overviewLayout">
    <div class="descriptionBox">
        <h1 th:text="${project.name}"></h1>
        <h3 th:text="${#dates.format(project.startDate, 'dd-MM-yyyy') + '  ->  ' + #dates.format(project.deadline, 'dd-MM-yyyy') + '        ' + hourEstimateRemaining + ' Hours remaining'}"></h3>
        <div th:if="${hourEstimateInitial} != 0">
            <a th:text="${hourEstimateInitial}-${hourEstimateRemaining} + '/' + ${hourEstimateInitial}"></a>
            <br>
            <label for="hourProgressProject"></label>
            <progress id="hourProgressProject"
                      th:value="(${hourEstimateInitial}-${hourEstimateRemaining})/${hourEstimateInitial}"></progress>
        </div>
        <p th:text="${('Project is estimated to take at total of ' + hourEstimateInitial + ' hours of work. ' + hoursSpent + ' hours of work has been completed. ' + hourEstimateRemaining + ' hours of work is estimated to remain.')}"></p>
        <div id="assignmentDescriptionBox">
            <p th:text="${project.description}"></p>
        </div>
        <a th:if="${role.hasPermission(6)}" class="button"
           th:href="@{/project/{projectName}/edit (projectName=${projectName})}">
            Edit project</a>
        <a th:if="${role.hasPermission(7)}" class="button"
           th:href="@{/project/{projectName}/delete (projectName=${projectName})}">Delete project</a>
    </div>

    <h2>Sub projects</h2>
    <div>
        <a th:if="${role.hasPermission(2)}" class="button"
           th:href="@{/project/{projectName}/create/task (projectName = ${projectName})}">Create new subproject</a>
    </div>

    <div class="overview" th:if="!${tasks.isEmpty()}">
        <form method="post" th:action="@{/project/task/getID}" th:object="${task}" class="projectItem"
              th:each="task : ${tasks}">
            <input type="hidden" name="taskID" th:value="${task.taskID}"/>
            <input type="hidden" name="taskName" th:value="${task.name}">
            <button id="openProjectButton" type="submit">
                <div>
                    <p class="projectItemText" th:text="${task.name}"></p>
                    <p class="projectItemText"
                       th:text="${#dates.format(task.startDate, 'dd-MM-yyyy') + ' -> ' + #dates.format(task.deadLine, 'dd-MM-yyyy')}"></p>
                    <div>
                        <label for="hourProgressTask">Completed_hours / estimated_total_work_hours</label>
                        <a th:text="${task.hourEstimate}-${task.hoursRemaining} + '/' + ${task.hourEstimate}"></a>
                        <br>
                        <progress id="hourProgressTask"
                                  th:value="(${task.hourEstimate}-${task.hoursRemaining})/${task.hourEstimate}">

                        </progress>
                    </div>

                    <div id="progressbarBorder">
                        <div id="progressbarProgress"
                             th:style="'width:' + (${percentOfProgressDone.removeFirst()}) + '%'">
                        </div>
                    </div>
                </div>
            </button>
            <div class="projectItem">
                <input id="createProjectButton" type="image"
                       th:attr="onclick=|location.href='/project/${project.name}/create/task'|"
                       th:src="@{/images/Dept=ofb_Logo.png}" alt="Create new task">
            </div>
        </form>
    </div>

    <h2>Project members</h2>
    <table>
        <thead>
        <tr>
            <th>Navn</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="assignedAccounts : ${projectMembers}">
            <td th:text="${assignedAccounts.name}"></td>
            <td th:text="${assignedAccounts.email}"></td>
        </tr>
        </tbody>
    </table>

    <div th:if="${role.hasPermission(5)}">
        <form action="#" th:action="@{/project/assign}" th:object="${account}" method="post">
            <div>
                <label for="assignAccount">Assign:</label>
                <select id="assignAccount" th:field="*{accountID}" required>
                    <option th:each="assignAccount : ${accounts}"
                            th:value="${assignAccount.accountID}"
                            th:text="${assignAccount.name} +' ' + ${assignAccount.email}">
                    </option>
                </select>
            </div>
            <button type="submit">Assign</button>
        </form>
    </div>

    <div th:if="${role.hasPermission(5)} and ${projectMembers.isEmpty()} == false">
        <form action="#" th:action="@{/project/remove/assigned/account}" th:object="${account}" method="post">
            <div>
                <label for="removeAccount">Remove:</label>
                <select id="removeAccount" th:field="*{accountID}" required>
                    <option th:each="assignedAccounts : ${projectMembers}"
                            th:value="${assignedAccounts.accountID}"
                            th:text="${assignedAccounts.name} +' ' + ${assignedAccounts.email}">
                    </option>
                </select>
            </div>
            <button type="submit">Remove</button>
        </form>
    </div>

    <a th:href="@{/project/list}">Back to project list</a>
</div>
</body>
</html>