<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Opgave</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h1 th:text="${task.name}"></h1>

<!--skal sende til create subtask-->
<div th:if="${role.hasPermission(2)} and ${task.isCompleted} == false" th:switch="${task.parentID}">
    <div th:case="'0'"><a
            th:href="@{/project/{projectName}/{taskName}/create/task (projectName = ${projectName}, taskName = ${task.name})}">Opret
        ny opgave</a>
    </div>
    <div th:case="*">
        <a th:href="@{/project/{projectName}/{taskName}/create/task (projectName = ${projectName}, taskName = ${task.name})}">Opret
            ny underopgave</a>
    </div>
</div>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>Fuldført</th>
        <th>Startdato</th>
        <th>Deadline</th>
        <th>Tidsestimat (timer)</th>
        <th>Tidsestimat(timer) tilbage</th>
        <th th:if="${task.hourEstimate} != 0">Progress</th>
        <th>Tid brugt</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${task.taskID}"></td>
        <td th:text="${task.name}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.isCompleted}"></td>
        <td th:text="${#dates.format(task.startDate, 'dd-MM-yyyy')}"></td>
        <td th:text="${#dates.format(task.deadLine, 'dd-MM-yyyy')}"></td>
        <td th:text="${task.hourEstimate}"></td>
        <td th:text="${task.hoursRemaining}"></td>
        <td th:if="${task.hourEstimate} != 0">
            <a th:text="${task.hourEstimate}-${task.hoursRemaining} + '/' + ${task.hourEstimate}"></a>
            <br>
            <label for="hourProgressTask"></label>
            <progress id="hourProgressTask"
                      th:value="(${task.hourEstimate}-${task.hoursRemaining})/${task.hourEstimate}"></progress>
        </td>
        <td th:text="${task.hoursSpentOnTask}"></td>
        <td th:if="${role.hasPermission(3)}">
            <a th:href="@{/project/{projectName}/{taskName}/edit (projectName=${projectName},taskName=${task.name})}">Rediger
                opgave</a>
        </td>
        <td th:if="${tasks.isEmpty()} or ${task.hoursRemaining} == 0">
            <a th:if="${task.isCompleted} == false"
               th:href="@{/project/{projectName}/{taskName}/complete (projectName=${projectName},taskName=${task.name})}">
                Complete task</a>
            <a th:if="${task.isCompleted} == true"
               th:href="@{/project/{projectName}/{taskName}/complete (projectName=${projectName},taskName=${task.name})}">
                Reopen task</a>
        </td>
        <td th:if="${role.hasPermission(4)} and ${task.isCompleted} == false and ${tasks.isEmpty()}">
            <a th:href="@{/project/{projectName}/{taskName}/delete (projectName=${projectName},taskName=${task.name})}">Delete
                task</a>
        </td>
    </tr>
    </tbody>
</table>

<h1 th:text="'Opgaver for ' + ${task.name}"></h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>Fuldført</th>
        <th>Startdato</th>
        <th>Deadline</th>
        <th>Tidsestimat (timer)</th>
        <th>Tidsestimat(timer) tilbage</th>
        <th>Progress</th>
        <th>Tid brugt</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="taskList : ${tasks}">
        <td th:text="${taskList.taskID}"></td>
        <td th:text="${taskList.name}"></td>
        <td th:text="${taskList.description}"></td>
        <td th:text="${taskList.isCompleted}"></td>
        <td th:text="${#dates.format(taskList.startDate, 'dd-MM-yyyy')}"></td>
        <td th:text="${#dates.format(taskList.deadLine, 'dd-MM-yyyy')}"></td>
        <td th:text="${taskList.hourEstimate}"></td>
        <td th:text="${taskList.hoursRemaining}"></td>
        <td th:if="${taskList.hourEstimate} == 0">Please set hourEstimate</td>
        <td th:if="${taskList.hourEstimate} != 0">
            <a th:text="${taskList.hourEstimate}-${taskList.hoursRemaining} + '/' + ${taskList.hourEstimate}"></a>
            <br>
            <label for="hourProgressSubTask"></label>
            <progress id="hourProgressSubTask"
                      th:value="(${taskList.hourEstimate}-${taskList.hoursRemaining})/${taskList.hourEstimate}"></progress>
        </td>
        <td th:text="${taskList.hoursSpentOnTask}"></td>
        <td>
            <form method="post" th:action="@{/project/task/getID}" th:object="${task}">
                <button type="submit">Info</button>
                <input type="hidden" name="taskID" th:value="${taskList.taskID}"/>
                <input type="hidden" name="taskName" th:value="${taskList.name}">
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div th:switch="${task.parentID}">
    <h2 th:case="0">Assigned to subproject</h2>
    <h2 th:case="*">Assigned to task</h2>
</div>

<table>
    <thead>
    <tr>
        <th>Navn</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account : ${assignedToTask}">
        <td th:text="${account.name}"></td>
        <td th:text="${account.email}"></td>
    </tr>
    </tbody>
</table>
<div th:if="${role.hasPermission(2)}">
    <form action="#" th:action="@{/project/task/assign}" th:object="${account}" method="post">
        <div>
            <label for="assignAccount">Assign:</label>
            <select id="assignAccount" th:field="*{accountID}" required>
                <option th:each="assignAccount : ${accounts}"
                        th:value="${assignAccount.accountID}"
                        th:text="${assignAccount.name} +' ' + ${assignAccount.email}">
                </option>
            </select>
        </div>
        <button type="submit">Assign</button>
    </form>
</div>

<div th:if="${role.hasPermission(2)} and ${assignedToTask.isEmpty()} == false">
    <form action="#" th:action="@{/project/task/remove/assigned/account}" th:object="${account}" method="post">
        <div>
            <label for="removeAssignedAccount">Remove:</label>
            <select id="removeAssignedAccount" th:field="*{accountID}" required>
                <option th:each="assignedAccount : ${assignedToTask}"
                        th:value="${assignedAccount.accountID}"
                        th:text="${assignedAccount.name} +' ' + ${assignedAccount.email}">
                </option>
            </select>
        </div>
        <button type="submit">Remove</button>
    </form>
</div>

<div th:switch="${task.parentID}">
    <div th:case="'0'"><a
            th:href="@{/project/{projectName}(projectName=${projectName})}">Tilbage til projekt</a>
    </div>
    <div th:case="*">
        <form method="post" th:action="@{/project/task/getID}" th:object="${task}">
            <button type="submit">Tilbage</button>
            <input type="hidden" name="taskID" th:value="${mainTaskID}"/>
            <input type="hidden" name="taskName" th:value="${mainTask}">
        </form>
    </div>
</div>
</body>
</html>