<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Opgave</title>
    <link rel="styleSheet" th:href="@{/style.css}"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<h1>Mine projekter</h1>
<table th:if="!${projects.isEmpty()}">
    <thead>
    <tr>
        <th>ID</th>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>Active</th>
        <th>Startdato</th>
        <th>Deadline</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projects}">
        <td th:text="${project.projectID}"></td>
        <td th:text="${project.name}"></td>
        <td th:text="${project.description}"></td>
        <td th:text="${project.isActive}"></td>
        <td th:text="${#dates.format(project.startDate, 'dd-MM-yyyy')}"></td>
        <td th:text="${#dates.format(project.deadline, 'dd-MM-yyyy')}"></td>
        <td>
            <form method="post" th:action="@{/project/getID}" th:object="${project}">
                <button type="submit">Info</button>
                <input type="hidden" name="projectID" th:value="${project.projectID}"/>
                <input type="hidden" name="projectName" th:value="${project.name}">
            </form>
        </td>
    </tr>
    </tbody>
</table>

<h1>Mine opgaver</h1>
<table th:if="!${tasks.isEmpty()}">
    <thead>
    <tr>
        <th>ID</th>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>Fuldført</th>
        <th>Startdato</th>
        <th>Deadline</th>
        <th>Tidsestimat (timer)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="taskList : ${tasks}">
        <td th:text="${taskList.taskID}"></td>
        <td th:text="${taskList.name}"></td>
        <td th:text="${taskList.description}"></td>
        <td th:text="${taskList.isCompleted}"></td>
        <td th:text="${#dates.format(taskList.startDate, 'dd-MM-yyyy')}"></td>
        <td th:text="${#dates.format(taskList.deadLine, 'dd-MM-yyyy')}"></td>
        <td th:text="${taskList.hourEstimate}"></td>
        <td>
            <form method="post" th:action="@{/project/task/getID}" th:object="${task}">
                <button type="submit">Info</button>
                <input type="hidden" name="taskID" th:value="${taskList.taskID}"/>
                <input type="hidden" name="taskName" th:value="${taskList.name}">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:if="${tasks.isEmpty()}">No active tasks</a>
<a th:href="@{/project/list}">Tilbage til projektListe</a>
</body>
</html>