<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Projekt</title>
    <link rel="styleSheet" th:href="@{/style.css}"/>
</head>
<body th:if="${role.hasPermission(1)}">
    <div th:replace="~{fragments/header :: header}"></div>
    <div id="overviewLayout">
        <div class="descriptionBox">
            <h1 th:text="${project.name}"></h1>
            <h3 th:text="${'Deadline: ' + #dates.format(project.deadline, 'dd-MM-yyyy')}"></h3>
            <div id="assignmentDescriptionBox">
                <p th:text="${project.description}"></p>
            </div>
            <div id="additionalInfoBox">
            <div id="memberBox">
                <h3>Project members:</h3>
                <h3 th:if="${projectMembers.isEmpty()}">No one is currently assigned to project</h3>
                <div id="memberList" th:if="!${projectMembers.isEmpty()}">

                    <div id="memberItem" th:each="assignedAccounts : ${projectMembers}">
                        <p id="memberText" th:text="${assignedAccounts.name}"></p>
                    </div>
                </div>
                <div th:if="${role.hasPermission(5)}">
                    <form action="#" th:action="@{/project/assign}" th:object="${account}" method="post">
                        <div>
                            <label for="assignAccount">Assign:</label>
                            <select id="assignAccount" th:field="*{accountID}" required>
                                <option th:each="assignAccount : ${accounts}"
                                        th:value="${assignAccount.accountID}"
                                        th:text="${assignAccount.name} +' ' + ${assignAccount.email}">
                                </option>
                            </select>
                        </div>
                        <button class="button" type="submit">Assign</button>
                    </form>
                </div>
                <div th:if="${role.hasPermission(5)} and ${projectMembers.isEmpty()} == false">
                    <form action="#" th:action="@{/project/remove/assigned/account}" th:object="${account}" method="post">
                        <div>
                            <label for="removeAccount">Remove:</label>
                            <select id="removeAccount" th:field="*{accountID}" required>
                                <option th:each="assignedAccounts : ${projectMembers}"
                                        th:value="${assignedAccounts.accountID}"
                                        th:text="${assignedAccounts.name} +' ' + ${assignedAccounts.email}">
                                </option>
                            </select>
                        </div>
                        <button class="button" type="submit">Remove</button>
                    </form>
                </div>
            </div>
            <div id="progressInfoBox">
                <div id="dateInfoBox">
                    <p th:text="'Start date: ' + ${#dates.format(project.startDate, 'dd-MM-yyyy')}"></p>
                    <p th:text="'Deadline: ' + ${#dates.format(project.deadline, 'dd-MM-yyyy')}"></p>
                    <p th:text="'Hours remaning: ' + ${hourEstimateRemaining}"></p>
                    <p th:text="'Hours spent: ' + ${hoursSpent}"></p>
                    <div th:if="${hourEstimateInitial} != 0">
                        <a th:text="${hourEstimateInitial}-${hourEstimateRemaining} + '/' + ${hourEstimateInitial}"></a>
                        <br>
                        <label for="hourProgressProject"></label>
                        <progress id="hourProgressProject"
                                  th:value="(${hourEstimateInitial}-${hourEstimateRemaining})/${hourEstimateInitial}"></progress>
                    </div>
                </div>
            </div>
            </div>
            <a th:if="${role.hasPermission(6)}" class="button"
               th:href="@{/project/{projectName}/edit (projectName=${project.Name})}">
                Edit project</a>
            <a th:if="${role.hasPermission(7)}" class="button"
               th:href="@{/project/{projectName}/delete (projectName=${project.Name})}">Delete project</a>

        </div>
<div id="overviewStyle">
<h3>Sub projects</h3>
        <div>
    <a th:if="${role.hasPermission(2)}" class="button" th:href="@{/project/{projectName}/create/task (projectName = ${project.Name})}">Opret
        nyt delprojekt</a>
        </div>

        <div class="overview">
            <form th:if="!${tasks.isEmpty()}" method="post" th:action="@{/project/task/getID}" th:object="${task}" class="overviewItem" th:each="task : ${tasks}">
                <input type="hidden" name="taskID" th:value="${task.taskID}"/>
                <input type="hidden" name="taskName" th:value="${task.name}">
                <button id="openProjectButton" type="submit">
                    <div>
                        <p class="overviewItemText" th:text="${task.name}"></p>
                        <p class="overviewItemText" th:text="${#dates.format(task.startDate, 'dd-MM-yyyy') + ' -> ' + #dates.format(task.deadLine, 'dd-MM-yyyy')}"></p>
                        <div>
                            <label class="overviewItemText" for="hourProgressTask">Progress in hours:</label>
                            <a class="overviewItemText" th:text="${task.hourEstimate}-${task.hoursRemaining} + '/' + ${task.hourEstimate}"></a>
                            <br>
                            <progress id="hourProgressTask"
                                      th:value="(${task.hourEstimate}-${task.hoursRemaining})/${task.hourEstimate}">

                            </progress>
                        </div>
                        <p class="overviewItemText">Tasks completed</p>
                        <div class="progressbarBorder">
                            <div class="progressbarProgress" th:style="'width:' + (${percentOfProgressDone.removeFirst()}) + '%'">
                            </div>
                        </div>
                    </div>
                </button>
            </form>
            <div class="overviewItem" th:if="${role.hasPermission(2)}">
                <input id="createProjectButton" type="image"
                       th:attr="onclick=|location.href='/project/${project.name}/create/task'|"
                       th:src="@{/images/Add-icon.png}" alt="Create new subproject">
            </div>
        </div>
        </div>
        <a class="button" th:href="@{/project/list}">Back to project list</a>
    </div>

</body>
</html>